ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.empty-space {
  height: 50px;
}

body {
  font-family: system-ui;
  background: #333;
  color: white;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.home-banner {
  width: 100%;
  height: 435px;
  text-align: center;
  background-image: url("https://www.math.utk.edu/images/thehill.jpg");
  background-size: cover;
}

.home-banner-content .name {
  font-size: 250%;
  color: white;
  text-shadow: 0px 0px 5px #000, 3px 3px 5px #000;
  font-weight: bold;
}

.home-banner-content .description {
  font-size: 140%;
  color: white;
  text-shadow: 0px 0px 5px #000, 3px 3px 5px #000;
  margin-top: 5px;
}

.home-banner-content .headshot img {
  margin-top: 20px;
  height: 310px;
  border: 3px solid black;
}

.section {
    height: fit;
    padding-bottom: 0px;
    background-color: #333;
    margin-bottom: 20px;
}

.section-headers {
    border-bottom: 3px solid white;
    padding: 0 10px;
    font-size: 200%;
    font-weight: bold;
}

.section-content {
  padding: 0 10px;
  font-size: 110%;
}

#about-text {
  margin-right: 80px;
  margin-left: 80px;
}

i {
  color: white;
  font-size: 60px;
  margin-top: 15px;
}

i#github-Icon {
  padding-left: 8px;
}
